<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recurit Desk</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/sidebar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <nav class="sidebar">
        <a href="RecruiterDashboard.html">Dashboard</a>
        <a class="active" href="JobsMenu.html">Jobs</a>
        <a href="AllApplicants.html">Applicants</a>
        <a href="SelectedList.html">Selected List</a>
        <a href="../../index.html">Logout</a>
    </nav>
    <header>
        <h1 class="display-4 text-center">Recruit Desk</h1>
    </header>
    <main class="content">
        <h5>Post a Job</h5>
        <form onsubmit="addJob()">
            <div class="form-group">
                <label for="jobTitle">Job Posting Headline</label>
                <input type="text" name="jobTitle" id="jobTitle" class="form-control" placeholder="Job Posting Headline" required autofocus>
            </div>
            <div class="form-group">
                <label for="jobType">Employment Type</label>
                <select name="jobType" id="jobType" class="form-control" required>
                    <option value="disabled" disabled>Select an option</option>
                    <option value="Full">Full Time</option>
                    <option value="Part">Part Time</option>
                </select>
            </div>
            <label>Job Description</label>
            <div class="form-group">
                <textarea name="description" id="description" class="form-control" cols="100" rows="10" placeholder="" required></textarea>
            </div>
            <div class="form-group">
                <label for="skills">Key Skills</label>
                <input type="text" name="skills" id="skills" class="form-control" placeholder="Skills Required" required>
            </div>
            <div class="form-group">
                <label for="">Work Experience (Years)</label>
                <input type="number" name="minYears" id="minYears" min="0" max="30" class="form-control w-25 d-inline" placeholder="Min" required>
                <input type="number" name="maxYears" id="maxYears" min="0" max="30" class="form-control w-25 d-inline" placeholder="Max" required>
            </div>
            <div class="form-group">
                <label for="">Annual Salary Range</label>
                <input type="number" name="minSalary" id="minSalary" min="200000" class="form-control w-25 d-inline" placeholder="Min" required>
                <input type="number" name="maxSalary" id="maxSalary" min="200000" class="form-control w-25 d-inline" placeholder="Max" required>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" name="location" id="location" class="form-control w-25" placeholder="Location" required>
            </div>
            <div class="form-group">
                <label for="noOfVacancy">No of Vacancies</label>
                <input type="number" name="noOfVacancy" id="noOfVacancy" class="form-control w-25" placeholder="No of Vacancy" min="1" max="100" required>
            </div>
            <div class="form-group">
                <label for="qualification">Educational Qualification</label>
                <select name="qualification" id="qualification" class="form-control w-25" required>
                    <option value="disabled" disabled>Select an option</option>
                    <option value="BE">Bachelor of Engineering</option>
                    <option value="ME">Master of Engineering</option>
                    <option value="Arts">Arts</option>
                    <option value="Business">Business Administration</option>
                    <option value="Any">Any Degree</option>
                </select>
            </div>
            <div class="form-group">
                <label for="endDate">End Date</label>
                <input type="date" name="endDate" id="endDate" class="form-control w-25" required>
            </div>
            <p id="errorText" class="text-danger"></p>
            <button class="btn btn-warning" id="postBtn">Post Job</button>
            <button class="btn btn-primary" onclick="window.location.href='JobsMenu.html'">Back</button>
        </form>        
    </main>
    <script src="../../service/JobManager.js"></script>
    <script src="../../validator/InputValidator.js"></script>
    <script src="../../assets/js/AddJobPost.js"></script>
</body>
</html>