<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Recruit Desk</title>
        <style>
            section{
                width: 400px;
                height: 400px;
                background-color: white;
                margin-top: 10%;
                padding: 20px;
                border-radius: 5px;
            }
        </style>
    </head>
    <body style="background-color: #3498db;">
        <main class="container d-flex justify-content-center">
            <section>
                <h1 class="display-4">Recruiter Login</h1>
                <form onsubmit="authenticate()">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <p id="errorText" class="text-danger"></p>
                    </div>
                    <button class="btn btn-primary">Login</button>
                </form>
            </section>
        </main>

        <script type="text/javascript">
            /**
             *Function to perform authentication. 
             */
            function authenticate(){
                event.preventDefault();
                let email = document.getElementById('email').value;
                let password = document.getElementById('password').value;
                if(validateEmail(email) && validatePassword(password)){
                    localStorage.setItem('USER', JSON.stringify({userType: "recruiter"}));
                    window.location.href = 'RecruiterDashboard.html';
                } else{
                   document.getElementById('errorText').innerText = "Invalid Credentials, Try again!";
                }
            }

            /**
             * Function to validate email
             * @params {string} email
             */
            function validateEmail(email){
                let valid = false;
                if(email === 'recruiter@live.com'){
                    valid = true;
                }
                return valid;
            }

            /**
             * Function to validate password.
             * @params {string} password
             */
            function validatePassword(password){
                let valid = false;
                if(password === 'pass1234'){
                    valid = true;
                }
                return valid;
            }

        </script>
    </body>
</html>