<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../../assets/css/sidebar.css">
        <title>Recruit Desk</title>
    </head>
    <body>
        <nav class="sidebar">
            <a class="active" href="RecruiterDashboard.html">Dashboard</a>
            <a href="JobsMenu.html">Jobs</a>
            <a href="AllApplicants.html">Applicants</a>
            <a href="SelectedList.html">Selected List</a>
            <a href="../../index.html">Logout</a>
        </nav>
        <header>
            <h1 class="display-4 text-center">Recruit Desk</h1>
        </header>
        <main class="content">
            <h5>Selection Progress</h5>
            <section id="card-container" class="row">
            </section>
        </main>
        <script src="../../service/JobManager.js"></script>
        <script src="../../service/SelectionManager.js"></script>
        <script src="../../service/DynamicElements.js"></script>
        <script src="../../assets/js/RecruiterDashboard.js"></script>
    </body>
</html>