<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recruit Desk</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/sidebar.css">
</head>
<body>
    <nav class="sidebar">
        <a class="active" href="ApplicantDashboard.html">Dashboard</a>
        <a href="#Applications.html">Applications</a>
        <a href="../../index.html">Logout</a>
    </nav>
    <header>
        <h1 class="display-4 text-center">Recruit Desk</h1>
    </header>
    <main class="content">
        <h5>Welcome <span id="userName"></span></h5>
        <h6>Available Jobs</h6>
        <input id="search" type="text" name="search" placeholder="Type here to search jobs">
        <section class="m-2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Job Id</th>
                        <th>Post</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="table-content"></tbody>
            </table>
    </main>
    <script src="../../service/JobManager.js"></script>
    <script src="../../service/DynamicElements.js"></script>
    <script src="../../assets/js/ApplicantDashboard.js"></script>
</body>
</html>